/* 
    Document   : main
    Created on : 2013-7-22, 12:59:48
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
header nav {
    position: absolute;
    top: 0px;
    left:40%;
}
header #logo {
    position: absolute;
    top:0px;
    left:20%;
}
header nav ul li {
    display: inline-block;
}
